# Compiled object files
*.o

# Compiled binary files
*.out
*.exe

# C++ debugging files 
*.gch
*.dSYM/

# Build directories
/build/
/bin/
/obj/

# Logs and databases
*.log
*.db

# Temporary files
*.tmp
*.swp
*.bak
*.old

# IDE specific files
.vscode/
.idea/
*.code-workspace

# System files
.DS_Store
Thumbs.db


program

Makefile
BufferPoolManager
BufferPoolManagerTest
dbfile